extends layout

block content
 div(class='row')
  div(class='large-12 columns')
   h1= title
   h2 General overview
   p Number of references found in DB: #{nOrefs}
   p The references:
   ul
    each refValue, i in referencelist
     each refProp, o in refValue.reference
      if o == "name"
        - var Refname = {name : refProp}
      if o == "species"
        li 
           a(href='refdetail?ref_id=#{refValue._id}') #{refProp} #{refValue._id} #{Refname.name}

   h2 Compare references
   p Work in progress.

